sail-safe-functions/sail_safe_functions.egg-info/*
sail-safe-functions-orchestrator/sail_safe_functions_orchestrator.egg-info/*
sail-safe-functions-test/sail_safe_functions_test.egg-info/*
*.pyc
venv**/*


